@font-face {
    font-family: 'fontastiquefontastique';
    src: url('../fonts/fontastique-webfont.eot');
    src: url('../fonts/fontastique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontastique-webfont.woff2') format('woff2'),
         url('../fonts/fontastique-webfont.woff') format('woff'),
         url('../fonts/fontastique-webfont.ttf') format('truetype'),
         url('../fonts/fontastique-webfont.svg#fontastiquefontastique') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'storytellermedium';
    src: url('../fonts/Storyteller-webfont.eot');
    src: url('../fonts/Storyteller-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Storyteller-webfont.woff2') format('woff2'),
         url('../fonts/Storyteller-webfont.woff') format('woff'),
         url('../fonts/Storyteller-webfont.ttf') format('truetype'),
         url('../fonts/Storyteller-webfont.svg#storytellermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plan';
    src: url('../fonts/plan-roman.eot');
    src:  url('../fonts/plan-roman.woff') format('woff'),
          url('../fonts/plan-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'planstorytelling';
    src: url('../fonts/plan-story.eot');
    src:  url('../fonts/plan-story.woff') format('woff'),
    url('../fonts/plan-story.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	padding-top: 0;
	font-family: 'plan', "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
    overflow: hidden;
	/*opacity: 0;
	transition: opacity 1s ease-in;*/
}

a,a:hover, a:active, a:focus {
    outline: none;
}

label.news, label.events {
    color: #faeecc;
    font-size: 16px;
}

.btn-primary.news,.btn.btn-primary.btn-news {
   background: #0073cf
}

.btn-primary.news:hover,.btn.btn-primary.btn-news:hover {
   background: #338fd8
}

.btn-primary.news:focus, .btn-primary.news.active,
.btn.btn-primary.btn-news:focus, .btn.btn-primary.btn-news.active {
   background: #005ca5
}


.btn-primary.events {
   background: #eaaa00;
    color: #faeecc;
}

.btn-primary.events:hover {
   background: #eebb32;
}

.btn-primary.events:focus, .btn-primary.events.active {
   background: #bb8800
}

.jssora03l {
    display: none;
}

label.events.btn-warning,.btn-events {
    background: #eaaa00
}

label.events.btn-warning:hover, .btn-events:hover {
    background: #ecb219
}
label.events.btn-warning:focus, .btn-events:focus, .btn-events:active {
    background: #a37600
}

a.get_involved {
    color: #eaaa00;text-decoration: none;
}

a.get_involved:hover {
    color: #f0c34c
}

a.get_involved:focus {
    color: #a37600
}

.loading {
	opacity: 0;
	transition: opacity 1s ease-in;
}
.loaded {
	opacity: 1;
	transition: opacity 1s ease-in;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: planstorytelling, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
	border-radius: 0;
    margin-bottom: 0px;
    transition: background .5s ease-in;
    border: none;
}
.navbar-brand {
	padding: 5px;
}

.navbar-brand img {
    margin-top: 3px;
}

.navbar-invisible {
	background-color: rgba(0,0,0,0.35);
    border: none;
    /*border-bottom: 1px solid rgba(0,0,0,0.35);*/
}

#mcaataglance h2 {
    color: #0073c5;
}

/*#nav1.navbar-invisible {
	background: -moz-linear-gradient(top, rgba(34,34,34,0.5) 0%, rgba(34,34,34,0) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,34,34,0.5)), color-stop(100%,rgba(34,34,34,0))); 
background: -webkit-linear-gradient(top, rgba(34,34,34,0.5) 0%,rgba(34,34,34,0) 100%); 
background: -o-linear-gradient(top, rgba(34,34,34,0.5) 0%,rgba(34,34,34,0) 100%); 
background: -ms-linear-gradient(top, rgba(34,34,34,0.5) 0%,rgba(34,34,34,0) 100%); 
background: linear-gradient(to bottom, rgba(34,34,34,0.5) 0%,rgba(34,34,34,0) 100%); 
}*/

.mcaweb-navbar-absolute {
    position: absolute;
    margin: 0px auto;
    right: 0px;
    left: 0px;
}

.navbar-overthetop {
	margin-top: -50px;
}

#bilkisvideoholder {
	display: block;
	width: 100%;
	max-width: 390px;
	height: 223px;
	background: url(../images/bilkis_video.png) top center no-repeat;
	margin: 0 auto;
	background-size: contain;
}
#bilkisvideoholder:hover {

	background: url(../images/bilkis_video_hover.png) top center no-repeat;
	background-size: contain;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 12px;
    background-color: rgba(255, 255, 255, 0.50);
}



/*
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background:url(../images/grab_pag.png) top center no-repeat;
}
*/

/*.mCSB_scrollTools {
    width: 20px;
}

.mCSB_scrollTools .mCSB_dragger {
    width: 20px;
}*/

/*
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:url(../images/grab_pag.png) top center no-repeat;
    width: 20px;
    height: 73px;
    background-position: 0 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-position: -20px 0;
}

.mCSB_scrollTools .mCSB_buttonUp {
    background-position: 2px 0;
}

.mCSB_scrollTools .mCSB_buttonDown {
    background-position: 2px -20px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
}


.mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonUp {
    background-repeat: no-repeat;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: transparent;
}
*/

/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -5px -5px;
}

    .jssorb21 div:hover, .jssorb21 .av:hover {
        background-position: -35px -5px;
    }

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}



/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l              (normal)
.jssora21r              (normal)
.jssora21l:hover        (normal mouseover)
.jssora21r:hover        (normal mouseover)
.jssora21ldn            (mousedown)
.jssora21rdn            (mousedown)
*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21rdn {
    background-position: -303px -33px;
}



/* jssor slider arrow navigator skin 03 css */
			            /*
			            .jssora03l              (normal)
			            .jssora03r              (normal)
			            .jssora03l:hover        (normal mouseover)
			            .jssora03r:hover        (normal mouseover)
			            .jssora03ldn            (mousedown)
			            .jssora03rdn            (mousedown)
			            */
			            .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
			            {
			            	position: absolute;
			            	cursor: pointer;
			            	display: block;
			                background: url(../img/a18.png) no-repeat;
			                overflow:hidden;
			            }
			            .jssora03l { background-position: -3px -33px; }
			            .jssora03r { background-position: -63px -33px; }
			            .jssora03l:hover { background-position: -123px -33px; }
			            .jssora03r:hover { background-position: -183px -33px; }
			            .jssora03ldn { background-position: -243px -33px; }
			            .jssora03rdn { background-position: -303px -33px; }

/* jssor slider bullet navigator skin 03 css */
			            /*
			            .jssorb03 div           (normal)
			            .jssorb03 div:hover     (normal mouseover)
			            .jssorb03 .av           (active)
			            .jssorb03 .av:hover     (active mouseover)
			            .jssorb03 .dn           (mousedown)
			            */
			            .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
			            {
			                background: url(../img/b18.png) no-repeat;
			                overflow:hidden;
			                cursor: pointer;
			            }
			            .jssorb03 div { background-position: -5px -4px; color: rgba(0,0,0,0); }
			            .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; color: #fff; }
			            .jssorb03 .av { background-position: -65px -4px; color: #fff; }
			            .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; color: #fff; }

.MCAPoemCaption{
	font-family: storytellermedium, cursive;

            /*background-color: rgba(0,0,0,0.2); */
        }

.newseventcaption {
	display: block;
	text-align: left;
    position: relative;
	text-shadow: 0px 3px 2px #000;
    height: 100%;
    background-image: -webkit-gradient(
        linear, left bottom, left top, from(rgba(0,0,0,0.9)),
        to(rgba(255, 255, 255, 0))
    );
    border-right: 1px solid #fff;
    /* mozilla example - FF3.6+ */
/*background-image: -moz-linear-gradient(
    rgba(50, 50, 50, 0.9) 95%, rgba(80, 80, 80, 0.0) 0%
);*/

background-image: -moz-linear-gradient(
rgba(255, 255, 255, 0) 0%, rgba(0,0,0, 0.9) 99%
);


}

.newseventcaption a, .newseventcaption .date {
    top: 104px; left: 0; right: 0; /*background-color: rgba(0,0,0,0.4); */color: #fff; padding: 5px 10px;
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
}

.newseventcaption .date {
    left: auto;
    right: 5px;
    top: 5px;
    font-size: 14px;
    text-shadow: 0 1px 1px #000;
}




.newseventcaption a:hover {
	/*background-color: rgba(0,0,0,0.7);*/
    color: white;
    text-decoration: none;
/*	text-shadow: 0px 0px 2px #000;*/
    -webkit-transition: all 0.3s ease-out 0;
}

#mcaataglance {
	text-align: center;
}

#carousel-strategy-area  {
	margin-top: 100px;
}

#carousel-strategy-area .carousel-control {
    background-image: none;
    width: 7%;
}


#carousel-strategy-area .carousel-indicators {
  top:-50px;
}

#carousel-strategy-area .carousel-indicators li {
	display: inline-block;
  border:none;
  width: 70px;
  height: 70px;
  margin: 0px;
    background-size: 70px 70px !important;
}

#carousel-strategy-area .carousel-indicators li.active {
	/*opacity: 0.9;*/
}


#carousel-strategy-area .carousel-inner {
   margin-top:50px;
}

#carousel-strategy-area .carousel-inner .item img {
   width: 100%;
}

.navbar-overthetop #navbar-2 .navbar-right {
    float: left !important;

    margin-right: 0px !important;

	transition: float 0.5s ease-in;
}


.patron-logo {
	text-align: center;
	min-height: 88px;
}

.patron-logo img {
	max-width: 100%;
}

#patron {
	margin: 100px 0;
}

.button_group_align {
	margin-bottom: 20px;
	text-align: center;
}

.button_group_align .btn-group .btn{
	
	border-radius: 16px;
	width: 90px;
}

.container-full {
    margin-right: auto;
    margin-left: auto;
}
#slider2_container {
	border-top: 2px solid;
	border-color: #eaaa00;
}
#slider3_container {
	border-top: 2px solid;
	border-color: #0073cf;
}

.get_involved {
	margin: 80px 0 !important;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #0073c5;
}
.get_involved h1,.get_involved h3{
	margin: 0;
}

.get_involved:hover {
	text-decoration: none;
	color: #eaaa00;
}

.newseventblock {
	position: relative;
	display: block;
	border: 1px solid #ddd;
	margin: 15px 0;
}

.newseventblock.news {
	border: 2px solid #0073cf;
    background: #fff;
}

.newseventblock.events {
			border: 2px solid #eaaa00;
    background: #fff;
}

.newseventblock .imgblock {
	width: 100%;
	height: 210px;
	background-size: cover;
}

.newseventblock .txtblock {
	width: 100%;
	height: 215px;
	color: #7c7c7d;
	padding: 20px 26px;
	overflow: hidden;
}

.newseventblock .txtblock a{
	
	color: #7c7c7d;
}
.newseventblock .txtblock a:hover{
	
	color: #333;
}
.newseventblock .txtblock .post_title {
	font-family: plan,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 6px;
}
.newseventblock .txtblock .post_title a {
    line-height: 23px;
	color: #000;
}
.newseventblock .txtblock .post_title a:hover {
	color: #333333;
}

.newseventblock .txtblock .post_title a:focus{
	color: #4c4c4c;
}

.newseventblock a:hover {
	text-decoration: none;
}

.newseventblock .post_share{
	position: absolute;
	height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 26px;
	font-size: 14px;

}

.newsevent_overlay{
	background-color: #fff;
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in;
}

.newseventblock.news .newsevent_overlay{
	background-color: #0073cf;
}

.newseventblock.events .newsevent_overlay{
	background-color: #eaaa00;
}

section.form {
	background-color: #572932;
	color: #e8c7ce;
	padding-bottom: 30px;
}

section.form input[type=text], section.form input[type=email], section.form textarea{
	border-color: #e8c7ce; 
	background-color: #572932;
	color: #e8c7ce;
	border-radius: 0;
}

section.form button.btn, section.form a.btn, section.form input.btn{

	border-radius: 0;
}

section.form .btn-forminverse {
    color: #572932;
    background-color: #e8c7ce;
    border-color: #e8c7ce;
}

section.form .btn-forminverse.active, section.form .btn-forminverse.focus, section.form .btn-forminverse:active, section.form .btn-forminverse:focus, section.form .btn-forminverse:hover, .open > .dropdown-togglesection.form .btn-forminverse {
    color: #572932;
    background-color: #f7d8df;
    border-color: #e8c7ce;
}

.form-control:focus {
    border-color: #e8c7ce;
}


.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #BFBFBF;

    text-shadow: 0px 2px 2px #222;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: transparent;
    text-shadow: 0px 2px 2px #222 !important;
}



/*nav bar brand*/
.navbar-brand-color {
    background-color: #0073cf;
    border-color: #0073cf;
}
.navbar-brand-color .navbar-nav > li > a, .navbar-brand-color .navbar-text {
    color: #fcf1e8 !important;
    /*padding-left: 7px;
    padding-right: 7px;*/

    text-shadow: none !important;
}
.navbar-brand-color .navbar-nav > li.active a, .navbar-brand-color .navbar-nav > li > a:focus, .navbar-brand-color .navbar-nav > li > a:hover {
   /* color: #FFF!important;*/
    background-color: #005ca5;
    text-shadow: none !important;
    /*font-weight: bold;*/
}


.current-menu-parent ul {
    display: block;
}

.current-menu-parent.dropdown-menu {
    z-index: 900;
}

.open .dropdown-menu {
    z-index: 1200;
}

.navbar-inverse .navbar-nav > li > a {
   /* padding-right: 7px;
    padding-left: 7px;*/
}

.navbar-brand-color .navbar-nav > li > a:focus {
    background-color: #002e52;
}

.navbar-brand-color .navbar-nav > .open > a, .navbar-brand-color .navbar-nav > .open > a:focus, .navbar-brand-color .navbar-nav > .open > a:hover {
    background-color: #005ca5;
    color: #FFF;
}

.navbar-brand-color .navbar-toggle:focus, .navbar-brand-color .navbar-toggle:hover {
    background-color: #005ca5;
}
.navbar-brand-color .navbar-toggle {
    border-color: #005ca5;
}
.navbar-brand-color .navbar-toggle .icon-bar {
    background-color: #faeecc;
}
.navbar-brand-color .navbar-toggle:hover .icon-bar, .navbar-brand-color .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}
/*end nav bar brand*/

.footer-logos {
	/*text-align: center;*/
}
.footer-logos span{
	display: inline-block;
	margin-right: 30px;
}

.footer-logos span:last-child{
	margin-right: 0px;
}
#footer {
    border-top: 0;
    clear: both;
    color: #AAA;
    margin-top: 0;
    background: none;
    padding-top: 0;
}

#sub-floor {
    color: #faeecc;
    background: #0073CF none repeat scroll 0% 0%;
    padding: 10px 0px;
}

#sub-floor a {
	color: #faeecc;
}

#sub-floor ul li {
    list-style: none;
    margin-top: 5px;
    margin-right: 20px;
    display: inline-block;
    border-bottom: 0;
}

#sub-floor ul li a {
    text-decoration: none;
}

#sub-floor a:hover {
	color: #fff;
}

.attribution {
    padding-top: 12px;
}

.post-519 li strong {
    cursor: pointer;
    position: relative;
}

.post-519 li strong.active {
    color: #0073cf;
}

.post-519 li strong:hover {
    color: #0073cf;
}

.post-519 li strong:active {
    color: #003967;
  }

.post-519 li strong i {
    position: absolute;
    left: -67px;
    top: 2px;
}

.post-519 .page-content.entry-content p {
    margin-top: 9px;
}

.post-519 .fa-pause, .fa-play {
    font-size: 21px;
    color: #96969a;
}

.post-519 .page-content div ol >  li {
    margin-bottom: 20px;
    padding-bottom: 17px;
    margin-left: 60px;
    margin-right: 25px;
    border-bottom: 1px solid #d0d1d4;
}

.post-519 .page-content div ol >  li li {
    border-bottom: none
}

.post-519  ol  ol {
    margin-left: 0;
    padding-left: 0;
}

.post-519 li > p,
.post-519 li > ol {
    display: none
}

.page-id-519 .page-content > div > ol {
    background: #f5f5f5;
    padding-top: 20px;
}

#newsandeventslist {
	margin-top: 70px;
}

h2 {
    color: #000;
}

.pager li > a, .pager li > span {
    border: none;
    background-color: transparent;
}

.pager li {
    width: 50%;
}

.pager li span {
    float: left;
    padding: 50px 0;
    width: 100%;
    min-height: 107px;
}

.pager li.previous {
    min-height: 107px;
}

.pager .fa {
    font-size: 42px;
    top: -9px;
}

.pager .fa.fa-angle-left {
    left: -20px;
    left: -20px;
}

.pager .fa.fa-angle-right {
    right: -20px;
}

.the-comment-form {
    font-weight: bold;
    color: #333;
}

.event-detail .pager li span {
    border-bottom: 1px solid #eaaa00;
    border-top: 1px solid #eaaa00;
}

.event-detail .pager li.previous {
    border-right: 1px solid #eaaa00;
}
.news-detail .pager li span {
    border-bottom: 1px solid #0073cf;
    border-top: 1px solid #0073cf;
}

.news-detail .pager li.previous {
    border-right: 1px solid #0073cf;
}

.pager li span a {
    position: relative;
}

.pager li span a i {
    position: absolute;
}

.event-detail .pager li span a { color: #333; }
.event-detail .pager li:hover { background: #eaaa00; }
.event-detail .pager li span a { color: #333; }
.event-detail .pager li:active {background-color: #d29900; }

.event-detail .pager li:hover a,
.event-detail .pager li:active a {
    color: #fff;
}
.news-detail .pager li span a { color: #333; }
.news-detail .pager li:hover { background: #0073cf; }
.news-detail .pager li span a { color: #333; }
.news-detail .pager li:active {background-color: #005ca5; }

.news-detail .pager li:hover a,
.news-detail .pager li:active a {
    color: #fff;
}

/*
#single-post-nav .pager span.next-page {
    text-align: right;
}
#single-post-nav .pager span.previous-page {
    text-align: left;
}
*/


#single-post-nav .pager span {
    width: 100%;
    padding-top: 40px;
    border-radius: 0
}

.pager li.previous {
    float: left;
}

.pager li.next {
    float: right;
}


.recent_posts_wrapper {
	width: 100%;
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: #d0d1d4;
	position: relative;
	min-height: 33px;
	margin-bottom: 30px;
	overflow: hidden;
}
.recent_posts_wrapper #list_toggle{
	position: absolute;
	display: block;
	width: 28px;
	height: 28px;
	background-color: #d0d1d4;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    color: #797979;
    text-align: center;
    padding-top: 2px;
}

.recent_posts_wrapper .post_list_wrapper {
	width: 50%;
	border: 2px;
	border-top: 0;
	border-style: solid;
	border-color: #cccccc;
	float: left;
	overflow:auto;
    background: #fff;
}

.pager a{
    font-size: 20px;
}

.nicescroll-cursors {
    right: 3px;
}

.post_list_wrapper h3{
	font-family: plan, arial, sans-serif;
	font-weight: 400;
	padding: 0 20px;
}
.post_list_with_scroll .post_link {
	display: block;
	padding: 10px 20px;
	width: 100%;
	height: auto;
	overflow:auto;
	color: #333;
}

.post_list_with_scroll.newsblock .post_link:hover {
	background-color: #0073cf;
	color: #fff;
}

.post_list_with_scroll.eventsblock .post_link:hover {
	background-color: #eaaa00;
	color: #fff;
}
.post_list_with_scroll .post_link:hover .post_info{
	color: #fff;
}
.post_list_with_scroll {
	height: 314px;
	overflow-y: scroll;
}

.post_list_with_scroll .imgblock, .post_list_with_scroll .txtblock{
	display: block;
	float: left;
}

.post_list_with_scroll .imgblock {
	text-align: center;
	width: 35%;
	margin-right: 15px;
}
.post_list_with_scroll .txtblock {
	width: 60%;
}
.post_list_with_scroll .txtblock .post_title {
	font-weight: bold;
	font-size: 17px;
}
.post_list_with_scroll .txtblock .post_info {
	font-size: 14px;
	color: #797979;
}
.post_list_with_scroll .imgblock img{
	max-width: 100%;
	max-height: 120px;
}
#comments, .hentry, .respond-form {
	border: 0;
	box-shadow: none;
}

.img-wide {
	width: 100%;
	display: block;
	height: auto;
}

.page-title {
	margin-top: 60px;
}

.page-content h2, .page-content h3,.page-content h4,.page-content h5, .page-content h6 {
	font-family: Plan, Helvetica, sans-serif;
}

.share-buttons {
	padding-left: 0;
	padding-right: 0;
}

.feat-head {
	position: relative;
}

.feat-image-head {
	width: 100%;
	height: 100vh;
	background-size: cover !important;
	color: #eee;
}

.feat-image-head .entry-title a{
	color: #eee;
}

.feat-no-image-head {
	width: 100%;
	min-height: 400px;
	background: #eee;
	color: #333;
}

.feat-head .article-header {
	text-align: center;
	margin: 0 auto;
	top: 30%;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
}
.feat-head .article-header .titlewrap {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}
.feat-head .article-header .postinfoshare {
	text-align: center;
	margin: 0 auto;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	margin-bottom: 30px;
	color: rgba(255, 255, 255, 0.5) !important;
}

.feat-head .article-header .postinfoshare a {
	color: rgba(255, 255, 255, 0.5) !important;
	text-decoration: none;
}

.feat-head .article-header .postinfoshare a:hover {
	color: rgba(255, 255, 255, 1) !important;
	text-decoration: none;
}

.feat-no-image-head .article-header .postinfoshare {

	color: rgba(0, 0, 0, 0.5) !important;
}

.feat-no-image-head .article-header .postinfoshare a {
	color: rgba(0, 0, 0, 0.5) !important;
	text-decoration: none;
}

.feat-no-image-head .article-header .postinfoshare a:hover {
	color: rgba(0, 0, 0, 1) !important;
	text-decoration: none;
}

.feat-head .byline {
	font-size: 16px;
}
.feat-image-head .byline {
	color: rgba(255, 255, 255, 0.5) !important;
}
.feat-no-image-head .byline {
	color: rgba(0, 0, 0, 0.5) !important;
}
.mca_shareit-bar {
	display: block;
	margin: 10px;
	padding: 0;
}

.mca_shareit-bar li {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 10px;
}
.mca_shareit-bar li a{
	display: block;
	min-height: 24px;
	min-width: 24px;
	text-align: center;
}

.mca_share {
	display: block;
	margin: 0px;
	padding: 0;
}

.mca_share li {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0 10px 0 0;
}
.mca_share li a{
	display: block;
	min-height: 24px;
	min-width: 24px;
	text-align: center;
}

article.post {
	margin-top: 50px;
}
.dropdown-menu {
	background-clip: border-box;
	border: none;
	padding: 0;
	border-radius: 0;
}

.dropdown-menu > li > a:hover {
	background-color: #000;
	color: #fff;
}

.entry-content {
	padding: 0; 
}

.mcacaption {
	text-align: center;
	font-style: italic;
	color: #777;
}

nav.pagination{
	display: block;
	margin: 0 auto;
	text-align: center;
}
nav.pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav.pagination ul li{
	display: inline-block;
	min-width: 22px;
	text-align: center;
	margin: 0;
	padding: 0;  
}

nav.pagination ul li{
	display: inline-block;
	
	text-align: center;
	margin: 0;
	padding: 0;  
}

nav.pagination ul li a{
	min-width: 22px;
	display: block;
	color: #999;
}

nav.pagination ul li a:hover, .pagination li a:focus{
	display: block;
	color: #111;
	background: none;
	text-decoration: none;
}

nav.pagination ul li span.current{
	display: block;
	color: #fff;
	background: #0073cf;
	text-decoration: none;
	border-radius: 11px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #005ca5!important;
    color: #FFF;
}

.searchform {
	/*padding: 8px;*/
	margin: 6px 0 6px 16px;
}

div.searchform input#search {
	background: none !important;
	border-radius: 0;

	border-width: 0px !important;
	border-style: solid !important;
	border-color: #BFBFBF !important;
	box-shadow: none;
	width: 52px;
	transition: all 0.3s ease-out;
	/*padding: 6px 12px;*/
	font-size: 15px;
	color: #ffffff !important;
	padding: 0px 0px 0px 10px !important;
}

div.searchform button {
	background: none !important;
	border-width: 0px !important;
	color: #bfbfbf;
	border-radius: 0;
	border-color: #BFBFBF !important;
	font-size: 15px;
    padding-left: 4px;
}

div.searchform input#search:focus {

	border-color: #FFF !important;
	width: 150px;
	color: #fff;
}

div.searchform button:hover {
	border-color: #fff !important;
}

.navbar-overthetop div.searchform {
	display: none;
}

.navbar-brand-color div.searchform input#search {
	border-color: #faeecc !important;
	color: #fff !important;
    border-width: 0;
}

.form-control::-moz-placeholder {
    color: #fff;
}

.navbar-brand-color div.searchform input#search:focus {

	border-color: #FFF !important;
	color: #fff;
    border-width: 0 !important;
}

.navbar-brand-color div.searchform button {

	border-color: #faeecc !important;
	color: #faeecc !important;
}

div.searchform button:hover {
	border-color: #fff !important;
	color: #fff !important;
}

.contact-form.commentsblock input,
.contact-form.commentsblock textarea,
.wpcf7-form input{
    display: block;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
/*    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}


.contact-form.commentsblock textarea {
    width: 100%;
}

.contact-form.commentsblock input {
    width: 100px;
}

.postid-329 .postinfoshare {
    display: none;
}

.postid-329 .feat-head .article-header {
    top: 38%;
}

.postid-329 .feat-no-image-head {
    min-height: 200px;
}

.contact-form.commentsblock input[type="text"],
.contact-form.commentsblock input[type="email"],
.contact-form.commentsblock textarea {
    line-height: 1.42857143;
    color: #000;
}

.contact-form.commentsblock input[type="submit"], input.wpcf7-form-control[type="submit"] {
    background-color: #f7d8df;
    border-color: #e8c7ce;
    color: #572932;
}
.contact-form.commentsblock input[type="submit"]:hover, input.wpcf7-form-control[type="submit"]:hover {
    background-color: #e8c7ce;
    border-color: #e8c7ce;
    color: #572932;
}


.contact-form.commentsblock textarea {
    height: 85px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: transparent;
}

.dropdown-menu > li > a:hover {
    background-color: transparent;
}



#menu-item-105.menu-item-has-children .dropdown-menu {
    left: -800px;
    padding-left: 520%;
    right: 0;
    width: 1835px;
}

#menu-item-181.menu-item-has-children .dropdown-menu {
    left: -800px;
    padding-left: 460%;
    right: 0;
    width: 1835px;
}

#button_group_list_newsevent_filter .btn.active {
   /* box-shadow: 0 13px 13px rgba(0, 0, 0, 0.286) inset;*/
}

#menu-item-105.menu-item-has-children .dropdown-menu li,
#menu-item-181.menu-item-has-children .dropdown-menu li
{
    display: inline-block;
}

.page-banner img {
    width: 100%;;
    height: auto;
}

.item .info {
    color: #fff;
    position: absolute;
    right: 5%;
    top: 140px;
    width: 40%;
}

.item .info h3 {
    font-weight: 500;
    font-family: plan, 'arial';
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 8px;
}

.item .info p {
    font-size: 17px;
}

#carousel-strategy-area .info a:hover {
    color: #fff;
}

#carousel-strategy-area .carousel-indicators {
    width: 200px;
    position: absolute;
    margin-left: auto;
}

.item .info h3 span {
    font-size: 50px;
    font-weight: normal;
    font-style: italic;
}

#carousel-strategy-area .carousel-indicators {
    height: 75px;
}

#carousel-strategy-area .info a {
    color: #fff;
    text-decoration: none;
}

#main table.regional-partners td {
    padding: 20px;
    width: 33%;
}

#main table.regional-partners td a {
    display: block;
    width: 100%;
    text-align: center;
    height: 108px;
}

#main table.regional-partners h2 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: -6px;
}

.page-content.entry-content .regional-partners p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 10px;
}

#carousel-strategy-area {
    margin-top: 63px;
}

.login, .login:hover, .login:focus {
    float: right;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    display: none;
}

.page-title.entry-title {
    margin-top: 130px;
    margin-bottom: 35px;
}

.page-content  h2 {
    font-size: 33px;
}

.page-content.entry-content p {
    font-family: plan,'arial';
    font-size: 23px;
    line-height: 32px;
}

.article-header {
    padding-left: 0;
}

.navbar-overthetop #menu-item-105 .dropdown-menu{
    top: -50px;
}

.navbar-overthetop #menu-item-181 .dropdown-menu {
    top: -50px;
}

.mca_share li a {
    font-weight: 600;
}

#carousel-strategy-area {
    min-height: 95px;
}

.newseventblock .imgblock {
    position: relative;
}

.newseventblock .imgblock .featured {
    position: absolute;
    font-size: 32px;
    right: 0;
    top: -3px;
}

.newseventblock .imgblock .featured .fa {
    float: right;
    margin-right: 20px;
}

.newseventblock.news .imgblock .featured {
    color: rgb(0,115,207);
}

.newseventblock.events .imgblock .featured {
    color: rgb(236,151,31);
}

.page-id-17 h3,
.page-id-96 h3 {
    font-weight: bold;
}
.page-id-96 h3 {
    color: #000;
}

.the-rollout-phase {
    margin-top: 37px;
}

.page-id-17 h2 {
    margin-top: 68px;
    font-weight: bold;
}

/*max width controlling css starts for the class container*/
body:not(.home) article .container,
.page-template-page-full-width > .container,
.feat-head.feat-image-head .single-title,
.container.news-detail,
.container.event-detail {
    max-width: 830px;
}

.category-news .single-content.entry-content p,
.category-news .single-content.entry-content ul,
.category-news .single-content.entry-content ol {
    font-size: 23px;
}

.category-news .single-content.entry-content ol li {
    margin-top: 15px;
}

.category-news .single-content.entry-content ol ul li {
    margin-top: 0;
}


#scrollToTop .fa.fa-angle-double-up {
    float: none;
}
/*
.single-post.postid-87 > .container {
    width: 100%;
    padding: 0;
}
*/

.single-post.postid-87 > .container #comments,
.single-post.postid-87 > .container #respond{
    max-width: 830px;
    margin: 0 auto;
}

.thumbnail img {
    width: 90px;

}

.post-98  .thumbnail {
    padding: 0;
    border: 0;
}

.post-98 .page-title.entry-title {
    margin-top: 50px;
    margin-bottom: 0;
}

.post-98 h3 {
    margin-top: 0;
    font-weight: bold;
    min-height: 70px;
    line-height: 30px;
}

.post-98 .entry-content p {
    margin-bottom: 0px;
    line-height: 32px;
}

.post-98 .page-content > .row {
    margin-top: 48px;
}

.page-id-96 .container #content,
.page-id-17 .container #content{
    padding-top: 0;
    padding-left: 35px;
}

.page-id-96 .page-title.entry-title {
    margin-bottom: 0;
}

.mcaataglance p {
    font-size: 17px;
}

/*max width controlling css starts for the class container*/

.feat-head.feat-image-head .single-title {
    margin: 0 auto;
}
/* keep full widget on smaller screens */

.page-id-96 img.size-medium {
    margin-bottom: 30px;
}

.page-id-108 img.post_code {
    margin-top: 20px;
    width: 107px;
}

.page-id-108 img.plan {
    margin-top: 17px;
    width: 62px;
}

.page-id-108 img.saevac {
    margin-top: 10px;
    width: 66px;
}

.page-id-108 img.dnet {
    margin-top: 31px;
    width: 104px;
}

.page-id-108 img.changemantras {
    margin-top: 33px;
    width: 198px;
}

.page-id-108 img.isg {
    margin-top: 34px;
    width: 206px;
}

.page-id-108 img.saarclaw {
    width: 189px;
    margin-top: 26px;
}

.navbar-overthetop #navbar-2 #menu-home-top-menu {
    text-align: center;
    float: none !important;
}

.navbar-fixed-top #menu-home-top-menu {
    margin-right: 7px !important;
}

#menu-home-top-menu.navbar-nav > li {
    float: none;
    display: inline-block;
}

.strategies-closer {
    position: absolute;
    right: 27px;
    top: 23px;
    z-index: 3000;
    color: #fff;
    cursor: pointer;
}

.jssorb03 {
    display: none;
}

#slider1_container img,
#slider1_container .MCAPoemCaption {
    cursor: grab;
}

.contact-form input:focus, .contact-form textarea:focus,
.wpcf7-form input:focus, .wpcf7-form textarea:focus {
    border-color: #66afe9;
    box-shadow: 0 -1px -1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.wpcf7-form-control.wpcf7-textarea {
    border: 1px solid #ccc;
    width: 100%;
}

/*.wpcf7-form textarea:focus {
    border-color: transparent;
}*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}

.contact-form h3 {
    color: #64a70b;
    font-size: 35px;
}

.contact-form p {
    font-size: 23px;
}

.wpcf7-form-control-wrap input[type="email"],
.wpcf7-form-control-wrap input[type="text"]
{
    width: 100%;
}


[class*="-partners"] img.white {
   height: 30px;
}

.page-id-112 .regional-partners img {
    max-width: 76px;
}
#main .regional-partners .last-row td a {
    height: auto;
}

.page-id-114 .regional-partners .last-row img {
    max-height: none;
    width: 110px;
}

.page-id-114 .regional-partners img {
    max-height: 76px;
    width: auto;
}

.page-id-112 .regional-partners .last-row img {
    max-width: 101px;
}

.alignnone.size-medium.wp-image-379 {
    height: 94px;
}

.page-id-319 .page-title.entry-title {
    display: none;

}

.page-id-319 .page-banner {
    margin-top: -97px;
}

.alignnone.wp-image-380 {
    height: 80px;
    padding-top: 18px;
}

.page-id-319 a img.alignnone {
    margin-bottom: 0;
}

.page-id-114 .regional-partners img.wp-image-382.aligncenter {
    max-height: 73px;
    padding-top: 16px;
}

.post_time {
    font-size: 14px;
}

#newsandeventslist {
    font-size: 23px;
    color: #666;
}

.page-id-102 {
    background: #f4f4f4;
}

.fa.fa-angle-double-up {
    float: left;
    margin-left: 7px;
}

.event-detail .postinfoshare {
    bottom: auto;
    top: 112px;
}

.news-detail .postinfoshare {
    bottom: auto;
    top: 112px;
}

.event-detail {
    font-size: 23px;
}

.event-detail .single-content > .row {
    margin-top: 12px;
}

.wp-caption p.wp-caption-text {
    text-align: left;
    font-style: italic;
    font-size: 14px;
    color: #868686;
    background: none;
}

.wp-caption {
    background: none;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: 70%;
    max-width: 830px;
    margin: 20px auto;
}

.popup-modal-dismiss {
    color: #000;
    position: absolute;right: 20px;
    top: 20px;
}

#bilkis_video button.mfp-close {
    color: #0073c5 !important;
    font-size: 75px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 100% !important;
}

#mc4wp-form-1 .btn {
    padding: 6px 23px;
}

.copyright ul {
    margin: 0;
    padding: 0;
}

.contact-form ul li {
    font-size: 23px;
}

.comment-box textarea {
    height: 127px;
}

.postid-329 .pager {
    display: none;
}

.postid-329 .feat-image-head {
    height: 40vh;
}

.postid-329 .feat-head {
    background-position: 0 -381px !important;
}

.the-comment-form .row {
    margin-bottom: 9px;
    padding: 0px 10px;
}

.contact-form ul {
    padding-bottom: 50px;
}


.contact-form input[type="submit"] {
    width: 100%;
    background-color: #64a70b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.contact-form input[type="submit"]:hover {
   background-color:#508508;
    color: #fff;
}

.contact-form input[type="submit"]:active {
   background-color: #3c6406;
    color: #fff;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    background-color: #fafafa;

}

.contact-form textarea {
    padding: 6px 12px;
    color: #000;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    height: 40px;
    font-size: 16px;
    color: #000;
}




/*poem styles*/


    /* stylesheet for demo and examples */
#demo{ line-height: 20px; /*background-color: rgba(255,255,255,0.7)*/ }
.logo img{
    vertical-align: bottom;
    border: 0;
}

header hr{ margin-top: 20px; }


h1{
    margin: 20px 0;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

#info p{
    font-size: 12px;
    color: #bbb;
    padding: 6px 15px;
}

nav ul li, .callbacks ul li, .disable-destroy ul li, .show-hide ul li, .dialog ul li, .all-themes-switch ul li, .scrollTo ul li{
    float: left;
    margin: 3px 6px 3px 0;
}

#examples{
    background-color: #191919;
    background-color: rgba(0,0,0,0);
    padding: 5px;
    margin: 10px 0;
    overflow: hidden;
}


.content{
    overflow: auto;
    position: relative;
    padding: 0 0 20px 10px;
    /* background: #333;*/
    margin: 0 0 10px 5px;
    width: 865px;
    max-width: 97%;
    height: 425px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

ul#comment-form-elements input {
    width: 97%;
    max-width:none;
}

.content p{ margin: 30px 0; line-height: 45px; }

#content-1.content.nested p{ width: 1000px; }

#content-1.content.nested .nested{
    margin: 20px;
    width: 600px;
    height: 300px;
}



.init-hidden #examples{ min-height: 420px; }

.full-page .content{ height: 800px; }




.full-page-alt .horizontal-images.content img{ height: 200px; }


#sortable ul{
    margin-top: 20px;
    margin-bottom: 10px;
}

#sortable li{
    margin: 10px 40px;
    background: #444;
    padding: 5px 10px;
    color: #fff;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#examples.tabs, #examples.accordion, #examples.autocomplete{
    padding: 5px 20px 20px 20px;
    background-color: #333;
}

#examples.tabs h3, #examples.accordion h3{
    color: #222;
    font-family: inherit;
    font-style: inherit;
}

.bootstrap #examples{ background: transparent; }

.max-height-example .content{
    height: auto;
    max-height: 400px;
}

.scrollTo-demo .content{ height: 290px; }

.scrollTo-demo .demo-y{ height: 600px; }

.scrollTo-demo .demo-x{
    width: 660px;
    background-color: #252525;
}

.scrollTo-demo .demo-x p{
    float: left;
    width: 300px;
    margin-left: 30px;
    height: auto;
    padding: 5px 10px;
    background-color: #333;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.scrollTo-demo .demo-x hr + p{ margin-left: 0; }

.scrollTo-demo .demo-yx{ background-color: #424242; }

.scrollTo-demo .demo-yx p{ width: 1000px; }

.scrollTo + .scrollTo{ margin-top: 20px; }

.scrollTo ul li:first-child span{
    display: block;
    padding: 3px 15px;
}


.transitions #examples{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
}

.transitions .content{
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

.MCAPoemCaption p {
    height: 120px;
    color: #fff;
    text-shadow: rgb(38, 38, 38) 4px 4px 4px;
}





/*poem styles*/




@media (max-width: 768px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
	#carousel-strategy-area .carousel-indicators li {
	display: inline-block;
	  border:none;
	  border-radius: 0;
	  width: 40px;
	  height: 40px;
	  margin: 0px;
	  background-size: 70px 70px;
	}
	#carousel-strategy-area .carousel-indicators {
	    top: -30px;
	}
}

@media (max-width: 600px) {
	body.admin-bar .navbar-fixed-top {
	    top: 0px;
	}

}

@media (max-width: 480px) {
    .MCAPoemCaption{

        font-size: 60px !important;
        top: 150px !important;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
	.MCAPoemCaption{
        font-size: 45px !important;
        top: 110px !important;
    }
}

@media (max-width: 768px) {
	ul.nav {
	width: 100%;
}

    .navbar-brand-color .dropdown-menu > li > a {
	    color: #faeecc !important;
	}
	.navbar-brand-color .dropdown-menu > li > a:hover {
	    color: #fff!important;
	}
	.navbar-brand-color .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-brand-color .navbar-nav .open .dropdown-menu > li > a:hover {
	    color: #FFF;
	    background-color: transparent;
	}
	.dropdown-menu > li > a {
		font-size: 15px;
	}
}

@media (min-width: 769px) {
    .MCAPoemCaption{
        font-size: 36px !important;

    }

    .dropdown-menu {
		border-top-left-radius: 0px;
		background-color: #005ca5;
		color: white;
		border-top-right-radius: 0px;
		margin: 0px;
    }
    
	/*.dropdown-menu > li {
		display: inline-block;
	}*/
	.dropdown-menu > li > a {
	    display: block;
	    padding: 14px 20px;
	    clear: both;
	    font-weight: 400;
	    line-height: 1.42857;
	    color: #BFBFBF;
	    white-space: nowrap;
	    font-size: 16px;
	}
}